body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url('../img/ca6.jpeg');
    background-size: cover; /* Faz com que a imagem cubra toda a tela */
    background-position: center; /* Centraliza a imagem no fundo */
    background-repeat: no-repeat; /* Evita que a imagem se repita */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column; /* Alinha verticalmente */
}


.welcome-text {
    color: #000000;
    font-size: 2.5em;
    margin-bottom: 20px;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column; /* Para alinhar o texto e os forms */
    align-items: center;
    align-content: center;
    height: 100%;
}

.container{
    background-color: transparent; /* Fundo transparente para ver o desfoque */
    backdrop-filter: blur(5px); /* Desfoca o fundo atrás do container */
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(233, 6, 6, 0.1);
    max-width: 600px;
    width: 100%;
    transition: transform 0.3s ease;
    }

.form-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 900px;

}

form {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 45%;
    margin: 15px;
}

fieldset {
    border: none;
    padding: 0;
}

legend {
    font-size: 1.8em;
    margin-bottom: 15px;
    color: #007bff;
    text-align: center;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="celular"]
 {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 1em;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

 input[type="submit"] {
    position: relative;
    display: inline-block;
    font-size: 1.5em;
    letter-spacing: .1em;
    color: #0ef;
    text-decoration: none;
    text-transform: uppercase;
    border: 2px solid #0ef;
    padding: 10px 30px;
    z-index: 1;
    overflow: hidden;
    transition: color 1s, box-shadow 1s;
}

 input[type="submit"]:hover {
    transition-delay: 0s, 1s;
    color: #fff;
    box-shadow:
        0 0 10px #0ef,
        0 0 20px #0ef,
        0 0 40px #0ef,
        0 0 80px #0ef,
        0 0 160px #0ef;
}

 input[type="submit"]::before {
    content: '';
    position: absolute;
    top: 0;
    left: -50px;
    width: 0;
    height: 100%;
    background: #0ef;
    transform: skewX(35deg);
    z-index: -1;
    transition: 1s;
}
 input[type="submit"]:hover:before {
    width: 100%;
}